{% extends "kitcreate/base.html" %}
{% load i18n %}
{% load humanize %}
{% load static from staticfiles %}
{% load eventinfo_extras %}
{% block title %}Upload a form{% endblock title %}
{% block header %}
{{block.super}}{{form.media}}
{% endblock header %}
{% block menu %}
{% if not is_popup %}
<nav id="sidebar-nav" class="col-4 col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'kitcreate_home' %} ">Home</a></li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'servicekit_wizard2_new' %}">Create A Service Kit</a></li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'storefrontstatus_list' %}?search=&amp;servicekitstatus=approved_goshow&amp;storefrontstatus=pending">View Storefronts</a></li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'servicekitforms_listview' %}">Edit Service Kit Forms</a></li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:pricelists_pricelist_changelist' %}">Pricelists</a>
    </li>            
    <li class="nav-item">
        <a class="nav-link" href="{% url 'account_logout' %}" title="Logout of Service Kit App">Logout</a>              
    </li>
    <div class="dropdown-divider"></div>
    </ul>
    <div class="row mx-2">
        <div class="col-12">
                <form action="{% url 'servicekitforms_listview' %}" method="GET">
                    <div class="input-group bmd-form-group">
                        <label class="control-label bmd-label-static">Search</label>
                        <input class="form-control" type="text" name="search" value="{{search}}">
                    </div>                                        
                    <input class="btn btn-primary" type="submit" value="Search">
                    {% if is_popup %}
                        <input class="form-control" type="hidden" name="_popup" value="1">
                    {% endif %}                
                </form>                      
        </div>
    </div>
</nav>
{% endif %}

{% endblock menu %}


{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h1">Import a pricelist.</h1>
        <ul class="nav">    
            <li class="nav-item">
                <a class="nav-link" href="{% url 'servicekitforms_listview' %}{% if is_popup %}?_popup=1{% endif %}">View Forms</a>
            </li>           
        </ul>        
    </div>                
    <div class="row">
        <div class="col-12 mb-2">
            <a class='' href="{{pricelist.get_admin_url}}">Back to PL {{pricelist}}</a>
        </div>
        <div class="col-12">            
            <div class="card">
                <div class="card-body"> 
                    <h5 class="card-title">Choose a pricelist spreadsheet to upload.</h5>
                    <form action="./" method="POST" enctype="multipart/form-data" class="form-horizontal" >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="control-group {% if form.price_tier.errors %}error{% endif %}">                                                        
                                    <label class="control-label" for="id_{{form.price_tier.name}}">{{form.price_tier.label}}</label><!--{%if not form.price_tier.required %}<span class='form_optional' style="color:gray;"> (Optional)</span>{% endif %}-->
                                    <div class="controls">{{form.price_tier}}</div>
                                    {% for error in  form.price_tier.errors %}
                                    <span class="help-inline">
                                        {{ error }}
                                    </span>
                                    {% endfor %}                            
                                    {% if form.price_tier.help_text %}
                                        <p class="help-inline"><small>{{ form.price_tier.help_text }}</small></p>
                                    {% endif %}                            
                                </div>                            
                            </div>
                            <div class="col-12">
                                <div class="control-group {% if form.file.errors %}error{% endif %}">                                                        
                                    <label class="control-label" for="id_{{form.file.name}}">{{form.file.label}}</label><!--{%if not form.file.required %}<span class='form_optional' style="color:gray;"> (Optional)</span>{% endif %}-->
                                    <div class="controls">{{form.file}}</div>
                                    {% for error in  form.file.errors %}
                                    <span class="help-inline">
                                        {{ error }}
                                    </span>
                                    {% endfor %}                            
                                    {% if form.file.help_text %}
                                        <p class="help-inline"><small>{{ form.file.help_text }}</small></p>
                                    {% endif %}                            
                                </div>                            
                            </div> 
                            <div class="col-12">
                                <ul class="list-unstyled" id="file-list"></ul>
                            </div>                              
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input type="submit" class="btn btn-primary btn-raised float-right" value="submit" name="submit"/>        
                            </div>
                        </div>  
                        <div class="row">
                            <div class="col-12">
                                
                                {% if import_results %}
                                <h1>Imported Data for PL {{pricelist}}</h1>    
                                    <table id="import-results" class="table">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Advance Price</th>
                                                <th>Standard Price</th>
                                                <th>Published To Store</th>
                                                <th>Published To Admin</th>
                                            </tr>
                                        </thead>
                                        <tbody>            
                                            {% for result in import_results %}
                                            <tr
                                            {% if result.product_added %}
                                                class="table-success"                                                
                                            {% endif %}
                                                >
                                                <td><a href="{{result.product.get_admin_url}}">{{result.product}}</a></td>
                                                <td>{{result.price.advance_price}}</td>
                                                <td>{{result.price.standard_price}}</td>
                                                <td>{{result.product.published_to_store}}</td>
                                                <td>{{result.product.published_to_admin}}</td>
                                            </tr> 
                                            {% endfor %}                
                                            <tr class="table-success"><td colspan="5">*New Product added</td></tr>
                                        </tbody>
                                    </table>
                                    
                                {% endif %}
                            </div>
                        </div>

                    </form>
                </div>
            </div>         
        </div>
    </div>

</main> 
 
{% endblock content %}


{% block footer %}
{{block.super}}

<script type="text/javascript">
</script>
{% endblock footer %}

<div>
    <a href="{{pricelist.get_admin_url}}">Back to PL {{pricelist}}</a>
    <p></p>
</div>
<div>
    <p><b>Choose a pricelist spreadsheet to upload.</b></p>
    <form action="./" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit" name="Submit">
    </form>
</div>
